.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.mat-card {
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: #efefef;
}

.color {
  color: #444e56;
}
